{% extends 'base.html' %}

{% block content %}
<h1>New Post</h1>
<form method="post" id="postForm" data-state-url="{% url 'ajax_load_state' %}" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_country").change(function () {
        var url = $("#postForm").attr("data-state-url");  // get the url of the `load_states` view
        var countryId = $("#id_country").val();  // get the selected country ID from the HTML input
        $.ajax({                       // initialize an AJAX request
            url: url,          // set the url of the request 
            data: {
                'country': countryId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `ajax_load_state` view function
                $("#id_state").html(data);  // replace the contents of the state input 
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Status: " + textStatus); alert("Error: " + errorThrown);
            }

        });
    });
</script>
{% endblock content %}
